<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571707820225-386m968crdkfqgo1cor7r1r1ik7arsgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571707820225-386m968crdkfqgo1cor7r1r1ik7arsgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCoI8TMRBxjNzH6TQZn4-8_HrBVXUNkSgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>571707820225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threeeco.driver</string>
	<key>PROJECT_ID</key>
	<string>treeeco-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>treeeco-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571707820225:ios:68cc35f3898c336da12c40</string>
	<key>DATABASE_URL</key>
	<string>https://treeeco-driver.firebaseio.com</string>
</dict>
</plist>